html, body {
  margin: 0;
  padding: 0;

  background: #ffffff;
}

.wrapper {
  max-width: 1600px;
  margin: 0 auto;
  
  position: relative;
  
  font-family: 'Philosopher', sans-serif;
  color: #4f4c4c;
}

.header {
  /*height: 10vh;*/
  min-height: 10vh;
  padding: 0 40px;
  box-sizing: border-box;

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 1.2em;

  /*background: #f7f7f7;*/
  border-bottom: solid 1px grey;
  color: black;
}

.header-title {
  width: 20%;
  font-size: 1.3em;
  font-family: 'Lobster', cursive;
}

.menu {
  margin: 0;
  padding: 0;
  
  width: 60%;
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.menu a {
  padding: 0 30px;
  
  transition: all 0.2s 0s linear;
  
  text-decoration: none;
  color: #000000;
}

.menu a:hover {
  text-shadow: 0 0 15px grey;
}

.socials {
  width: 20%;
  
  display: flex;
  justify-content: flex-end;
}

.socials i {
  margin: 0 5px;
  height: 17px;
  cursor: pointer;
}



.main-slider {
  margin: 15px auto 15px auto;
  width: 100%;
  max-width: 480px;
  
  height: 548px;
  max-height: 548px;
  
  display: flex;
  justify-content: center;

  position: relative;
  overflow: hidden;
  
  box-shadow: 0 0 10px -2px black;
}
.main-slider img {
  width: 100%;
  height: inherit;
  
  position: absolute;
  left: 0;
  top: 0;
  
  transition: all 0.7s 0s linear;
  
  z-index: 0;
  opacity: 0;
}

.slider-buttons-wrap {
  position: absolute;
  left: 10px;
  bottom: 10px;
  z-index: 2;
}

.slider-button-item {
  display: inline-block;
  margin: 0 5px;
  
  width: 10px;
  height: 10px;
  
  transition: all 0.7s 0s linear;
  
  border: solid 2px grey;
  border-radius: 50%;
  box-sizing: border-box;
}
.slider-button-item-selected {
  background: grey;
}

.about {
  padding: 20px 50px;
  box-sizing: border-box;
  background: #f9f9fa;
}
.about div {
  display: inline-block;
}
.about .about-img {
  width: 20%;
  margin-right: 20px;
  
  vertical-align: top;
}
.about .img-logo {
  width: 100%;
}
.about-content {
  width: 75%;
}
.about p {
  margin-top: 0;
  text-align: justify;
}

.payment {
  padding: 20px 50px;
  box-sizing: border-box;
}
.payment p {
  text-align: justify;
}

.address {
  padding: 20px 50px;
  box-sizing: border-box;
  
  background: #f9f9fa;
}

/*.adderss-map {
  margin: 0 auto;
  width: 100%;
  max-width: 1044px;
  height: 500px;
}*/

h2 {
  margin: 0 0 20px 0;
  /*font-family: 'Lobster', cursive;*/
  font-family: 'Pacifico', cursive;
  font-size: 2em;
  
  color: black;
}

.up {
  width: 50px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  box-shadow: 0 0 5px 0 grey;

  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 100;

  background: white;
  cursor: pointer;
}

.opacity-img {
  opacity: 1 !important;
  z-index: 1 !important;
}





/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .menu a {
    padding: 0 15px;
  }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .menu {
    width: 70%;
  }
  
  .menu a {
    padding: 0 10px;
  }
  
  .socials {
    width: 10%;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .menu nav {
    display: flex;
    flex-direction: column;
  }
  
  .menu a {
    padding: 5px;
  }
  
  .main-slider {
    width: 90%;
  }
}

@media (max-width: 580px) {
  .about .about-img {
    width: 50%;
    margin: 0 auto 20px auto!important;
    display: block;
  }
  
  .about-content {
    width: 100%;
    margin: 0 auto;
    display: block !important;
  }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
  .header {
    flex-wrap: wrap;
  }
  
  .header-title {
    width: 100%;
    margin: 10px 0;
    text-align: center;
  }
  
  .menu {
    width: 100%;
  }
  
  .menu nav {
    
  }
  
  .socials {
    width: 100%;
    margin-bottom: 10px;
  }
  
  .main-slider {
    height: 500px;
  }
  
  .about .about-img {
    width: 70%;
  }
}

@media (max-width: 410px) {
  .main-slider {
    height: 400px;
  }
}

/* Iphone 5 */
@media (max-width: 320px) {
  .main-slider {
    height: 350px;
  }
}
