html, body {
  margin: 0;
  padding: 0;

  background: #ffffff;
}

.wrapper {
  max-width: 1600px;
  margin: 0 auto;
  
  position: relative;
  
  font-family: 'Titillium Web', sans-serif;
}

.header {
  height: 10vh;
  padding: 0 40px;
  box-sizing: border-box;

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 1.2em;

  /*background: #f7f7f7;*/
  border-bottom: solid 1px grey;
}

.header-title {
  font-size: 1.3em;
  font-family: 'Lobster', cursive;
}

.menu {
  margin: 0;
  padding: 0;
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.menu a {
  padding: 0 30px;
  
  transition: all 0.2s 0s linear;
  
  text-decoration: none;
  color: #000000;
}

.menu a:hover {
  text-shadow: 0 0 15px grey;
}

.socials i {
  margin: 0 5px;
  height: 17px;
  cursor: pointer;
}



.main-slider {
  margin: 50px auto 0 auto;
  width: 100%;
  max-width: 600px;
  
  height: 450px;
  max-height: 450px;
  
  display: flex;
  justify-content: center;

  position: relative;
  overflow: hidden;
  
  box-shadow: 0 0 10px -2px black;
}
.main-slider img {
  width: 100%;
  height: inherit;
  
  position: absolute;
  left: 0;
  top: 0;
  
  transition: all 0.7s 0s linear;
  
  z-index: 0;
  opacity: 0;
}

.slider-buttons-wrap {
  position: absolute;
  left: 10px;
  bottom: 10px;
  z-index: 2;
}

.slider-button-item {
  display: inline-block;
  margin: 0 5px;
  
  width: 10px;
  height: 10px;
  
  transition: all 0.7s 0s linear;
  
  border: solid 2px grey;
  border-radius: 50%;
  box-sizing: border-box;
}
.slider-button-item-selected {
  background: grey;
}

.about {
  padding: 0 50px;
  background: #f9f9fa;
}
.about .img-logo {
  width: 20%;
  margin-right: 20px;
  float: left;
}
h2 {
  font-family: 'Lobster', cursive;
  font-size: 2em;
}
.about p {
  text-align: justify;
}

.stocks {
  padding: 0 50px 50px 50px;
  box-sizing: border-box;
}
.stocks-item-wrap {
  display: flex;
  justify-content: space-around;
}

.stocks-item {
  width: 200px;
  height: 200px;
  
  box-shadow: 0 0 10px -2px grey;
}


.up {
  width: 50px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  box-shadow: 0 0 5px 0 grey;

  position: fixed;
  right: 30px;
  bottom: 30px;

  cursor: pointer;
}

.opacity-img {
  opacity: 1 !important;
  z-index: 1 !important;
}





/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .menu a {
    padding: 0 15px;
  }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

}

/* Portrait phones and smaller */
@media (max-width: 480px) {

}

/* Iphone 5 */
@media (max-width: 320px) {

}
